{% extends "base.html" %}
{% load static %}
{% block titulo %}Esta es la pagina del Itec 1{% endblock  %}
{% block archivos_css %}
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
    <link rel="stylesheet" href="{% static 'blog/post.css' %}">
{% endblock  %}
{% block contenido %}
<section id="welcome">
        <header>
            <img src="{% static 'blog/images/logo_itec1.png' %}" alt="imagen ITEC 1">
            <h2>Blog del ITEC1</h2>
        </header>
        <p>Bienvenidos al blog del Instituto Tecnológico Nº1 Yacyretá</p>
    </section>

    <section id='latest-posts'>
        <h2>Últimos posts</h2>
        <ul>
            <li>
                <article class="post">
                    {% for posteo in posteos %}
                         {% include "blog/includes/post.html" %}
                    {% endfor %}
                </article>
            </li>
        </ul>
    </section>

    <section id="about">
        <h2>Instituto Tecnológico Nº1</h2>
        <p>Comprometidos con la educación permanente.
En consonancia con los avances tecnológicos, y reconociendo la importancia y beneficios con que cuenta internet, el ITEC Nº1 les da la bienvenida a su sitio.</p>
        <p>A través del mismo, buscamos facilitar a los usuarios el acceso a la información actualizada sobre nuestra institución, y de este modo seguir trabajando de manera conjunta con toda la comunidad</p>
    </section>
{% endblock  %}