{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Todos los posteos
{% endblock %}
{% block archivos_css %}
    <link rel="stylesheet" href="{% static 'blog/post.css' %}">
    <link rel="stylesheet" href="{% static 'blog/all-posts.css' %}">
{% endblock archivos_css %}
{% block contenido %}

<section id="all-posts">
    <h2>Articulos</h2>
    <ul>
        {% for posteo in posteos %}
            {% include "blog/includes/post.html" %}
        {% endfor %}
    </ul>
</section>

{% endblock %}