{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    {{ posteo.titulo }}
{% endblock %}
{% block archivos_css %}
    <link rel="stylesheet" href="{% static 'blog/post-detail.css' %}">
{% endblock %}

{% block contenido %}

<section id="summary">
        <h2>{{ curso.titulo }}</h2>
        <article>
            {% comment %} <img src="{% static curso.imagen %}" alt={{ curso.titulo }}> {% endcomment %}
            <img src="{{ posteo.image.url }}" alt="">
            <address>Escrito por <a href="mailto:{{curso.autor.email}}">{{curso.autor}}</a> </address>
            <div>
                Ultima actualización <time>{{curso.fecha|date:"d/m/Y"}}</time>
                 <p> <strong>Modalidad:</strong>  {{curso.modalidad}}</p>
            </div>
        </article>
        {% for categ in categorias %}
            <span>{{categ.nombre}}
            </span>
        {% endfor %}
    </section>
    <main>
        <p>
            {{curso.contenido|linebreaks}}
        </p>

    </main>


{% endblock %}